.reset, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.reset_2, caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

html {
  line-height: 1;
  position: relative;
  height: 100%;
  font-size: 16px;
  font-family: Lato, sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding-bottom: 64px;
}

blockquote {
  quotes: none;
}
blockquote:before {
  content: "";
  content: none;
}
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

q {
  quotes: none;
}
q:before {
  content: "";
  content: none;
}
q:after {
  content: "";
  content: none;
}

ol {
  list-style: none;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article {
  display: block;
}

aside {
  display: block;
}

details {
  display: block;
}

figure {
  display: block;
}

figcaption {
  display: block;
}

footer {
  display: block;
}

header {
  display: block;
}

hgroup {
  display: block;
}

menu {
  display: block;
}

nav {
  display: block;
}

section {
  display: block;
}

summary {
  display: block;
}

main {
  display: block;
}

* {
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 53px;
  width: 100%;
}

.main {
  height: 100%;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 64px;
  width: 100%;
}

.team-menu {
  position: relative;
  width: 220px;
  height: 53px;
  line-height: 53px;
  font-weight: 900;
  padding: 0 1rem;
  color: #ffffff;
  background: #3e313c;
  border-bottom: 2px solid #372c36;
  float: left;
  cursor: pointer;
}

.channel-menu {
  top: 0;
  position: absolute;
  right: 0;
  left: 220px;
  z-index: 100;
  background-color: white;
}

.channel-menu_name {
  display: inline-block;
  padding: 0 0.5rem 0 1.5rem;
  color: #555459;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 53px;
  cursor: pointer;
}

.channel-menu_prefix {
  color: #9e9ea6;
  padding-right: 0.1rem;
  font-weight: 500;
}

.listings {
  height: 100%;
  width: 220px;
  float: left;
  color: #ab9ba9;
  background-color: #4d394b;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 2rem;
}

.message-history {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding: 0 1.5rem 0 1.5rem;
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 64px;
}

.listings_channels {
  margin: 1rem 0 2rem;
}

.listings_header {
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.25rem;
  margin: 0 1rem 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #ab9ba9;
  width: 165px;
  position: relative;
}

.channel_list {
  list-style-type: none;
  text-align: left;
  color: #ab9ba9;
}

.channel {
  height: 26px;
  line-height: 24px;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  margin-right: 17px;
  color: #ab9ba9;
  padding-left: 1rem;
}
.channel.active {
  background: #4c9689;
}

.channel_name {
  color: #ab9ba9 !important;
  text-decoration: none;
}

.channel_name.active {
  color: white !important;
  font-style: bold;
  text-decoration: none;
}

.unread {
  color: #ffffff;
  background: #eb4d5c;
  border-radius: 9px;
  padding: 2px 9px;
  font-size: 0.8rem;
  line-height: 14px;
  font-weight: 700;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  float: right;
  margin-right: 3px;
  margin-top: 3px;
}

.channel_prefix {
  color: #7b6979;
  font-style: italic;
  padding-left: 2px;
  padding-right: 5px;
}

.disclaimer {
  font-size: 0.8rem;
  padding-left: 1rem;
  margin-right: 17px;
}

.message {
  position: relative;
  margin-top: 0.5rem;
  line-height: 1.375rem;
  padding: 0.25rem 2rem 0.1rem 3rem;
  min-height: 36px;
}

.message_profile-pic {
  position: absolute;
  left: 0;
  display: block;
  border-radius: 0.2rem;
  width: 36px;
  height: 36px;
  background-size: cover;
}

.message_username {
  font-weight: 900;
  padding-right: 0.25rem;
  color: #3d3c40 !important;
  margin-left: 0;
  font-style: normal;
  text-decoration: none;
}

.message_timestamp {
  text-align: left;
  display: inline;
  position: relative;
  top: 0;
  left: 0;
  color: #babbbf;
  font-size: 12px;
  line-height: 1.2rem;
  width: 36px;
  margin-right: 0;
  margin-left: 0;
}

.message_content {
  color: #000000;
  display: block;
  min-height: 1rem;
}

.user-menu-container {
  float: left;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #3e313c;
  border-top: 2px solid #372c36;
  padding: 7px 0 9px 8px;
  height: 4rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

.user-menu {
  width: 220px;
  margin: 0 auto;
}

.user-menu_profile-pic {
  display: inline-block;
  float: left;
  border-radius: 0.2rem;
  width: 48px;
  height: 48px;
  background-size: cover;
  margin-right: 8px;
}

.user-menu_username {
  display: block;
  color: #ffffff;
  font-weight: 900;
  line-height: 1.5rem;
  margin-top: 0.2rem;
  max-width: 200px;
}

.connection_icon {
  width: 12px;
  height: 12px;
}

.connection_status {
  color: #ab9ba9;
}

.input-box {
  height: 100%;
  margin-left: 220px;
}

.input-box_text {
  font-size: 0.95rem;
  width: 90%;
  margin-left: 2%;
  margin-bottom: auto;
  line-height: 1.2rem;
  border: 2px solid #e0e0e0;
  border-radius: 0.2rem;
  background-clip: padding-box;
  color: #3d3c40;
  box-shadow: none;
  outline: 0;
  bottom: 0;
  min-height: 41px !important;
  padding: 9px 5px 9px 8px;
}


/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}
    #layout.active #menu {
        left: 220px;
        width: 220px;
    }

    #layout.active .menu-link {
        left: 220px;
    }




/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -220px; /* "#menu" width */
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    #layout {
        padding-left: 220px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 220px;
    }

    .menu-link {
        position: fixed;
        left: 220px;
        display: none;
    }

    #layout.active .menu-link {
        left: 220px;
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 220px;
    }
}
